*.env
/node_modules
/.next
/.nuxt
/.cache
/.vscode
/.idea
/.DS_Store
/.history
/.sass-cache
/.nuxt
/.nuxt/dist
/.nuxt/standalone
/.nuxt/nuxt.config.js
/.nuxt/nuxt.config.ts
/.nuxt/nuxt.config.mjs
/.nuxt/nuxt.config.cjs
/.nuxt/nuxt.config.json
/.nuxt/nuxt.config.js.map